body {
    background: url('../img/escheresque.png') repeat;
}
.headerimg {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.outerheader {
    position: absolute;
    right: 50%;
}
.headertext {
    margin-top: 20px;
    position: relative;
    right: -50%;
    top: 2rem;
}
.pagetitle {
    padding-top:30px;
    padding-bottom:30px;
}
.title-area .name h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
.all_channels a {
    display: inline-block;
    background: black;
    padding: 0;
}

.all_channels a img {
    display: block;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    opacity: 0.7;
}

.all_channels a:hover img {
    opacity: 1;

}
.lper h1,
.lper a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}
.insorum {
    font-family: 'Monoton', cursive;
    color: #ffffff;
}
.insorum span {
    color: red;
    font-size: 1.5rem;
}
.insorum-invert {
    color: #000000;
    font-family: 'Monoton', cursive;
}
.insorum-invert span {
    color: red;
    font-size: 1.5rem;
}
.headertext img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
}
.menuoffset {
    padding-top: 45px;
}
.menu-bar h1 {
    font-weight: normal;
    color: white;
    width: 50%;
    display: block;
    padding: 0 15px;
    line-height: 45px;
    font-size: 1.0625rem;
    margin: 0;
}
.menu-bar {
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #333333;
    margin-bottom: 0;
}
.sliderdiv {
    visibility: hidden;
}
.sliderdivouter {
    background: #333333;
    height: 64px;
    width: 100%;
}
.youtuber blockquote,
.youtuber blockquote cite {
    color: #000000;
}
.fuzzboxx {
    background: #fff url('../img/fuzz.png') no-repeat fixed 50%  0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.sonmica {
    background: #fff url('../img/sonmica.png') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.lit_zippo {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.fairyjuice {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.mjlaukala {
    background: #fff url('../img/mjlaukala.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.rippersteve {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.eluinhost {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.eddcase {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.lper {
    padding-top: 15px;
}
.footer .name h1 a{
    color: grey;
}
.footer {
    padding-top: 10px;
}