body {
    background: url('../img/escheresque.png') repeat;
}
.headerimg {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.outerheader {
    position: absolute;
    right: 50%;
}
.headertext {
    margin-top: 20px;
    position: relative;
    right: -50%;
    top: 2rem;
}
.pagetitle {
    padding-top:30px;
    padding-bottom:30px;
}
.title-area .name h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
.lper h1,
.lper a {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
.insorum {
    font-family: 'Monoton', cursive;
    color: #ffffff;
}
.insorum span {
    color: red;
    font-size: 1.5rem;
}
.insorum-invert {
    color: #000000;
    font-family: 'Monoton', cursive;
}
.insorum-invert span {
    color: red;
    font-size: 1.5rem;
}
.headertext img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
}
.menuoffset {
    padding-top: 45px;
}
.menu-bar h1 {
    font-weight: normal;
    color: white;
    width: 50%;
    display: block;
    padding: 0 15px;
    line-height: 45px;
    font-size: 1.0625rem;
    margin: 0;
}
.menu-bar {
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #333333;
    margin-bottom: 0;
}
.sliderdiv {
    visibility: hidden;
}
.sliderdivouter {
    background: #333333;
    height: 64px;
    width: 100%;
}
.youtuber blockquote,
.youtuber blockquote cite {
    color: #ffffff;
}
.fuzzboxx {
    background: #fff url('../img/fuzz.png') no-repeat fixed 50%  0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.sonmica {
    background: #fff url('../img/sonmica.png') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.zippo {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.fairy {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.mjlaukala {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.ripper {
    background: #fff url('../img/bg.jpg') no-repeat fixed 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.lper {
    padding-top: 15px;
}